[credential]
	helper = "!f() { /root/.vscode-server/bin/b3e4e68a0bc097f0ae7907b217c1119af9e03435/node /tmp/vscode-remote-containers-fd7fda04-4687-4f18-956f-12b705349304.js git-credential-helper $*; }; f"
